body {
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.cat {
  background-image: url(/static/pink-dust.png);
  padding: 20px;
  background-size: contain;
  background-position: cover;
  background-repeat: repeat-x;
}
