* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* ===============
    Typography 
=====================*/
h1,
h2,
strong {
  font-weight: 700;
}

p { 
  color: #000 ; 
  font-family: inherit; 
}


.subtitle {
  font-size: 1rem;
  margin-top: 0.5em;
  margin: 0.7em 0 1.5em;
  color: #000 ; 
  font-family: inherit;
}

.hero-subtitle {
  color: #fff;
  font-size: 1.1rem;
}

.hero-title {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 0;
}

.section-title {
  font-size: 1.2rem;
  color: #000;
  margin-top: 1.25em;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 10px 0 0;
}

.section-title-center::after {
  margin: 0 auto;
}

.section-title:first-child {
  margin-top: 0;
}

/* BUTTONS */
.btn {
  padding: 0.2em 1.2em;
  font-weight: 700;
  margin-top: 0.5em;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: #ffe600;
  color: #000;
  justify-self: start;
}

/* contact form button */
.btn-form {
  padding: 0.2em 1.2em;
  font-weight: 700;
  margin-top: 0.5em;
  text-decoration: none;
  border: 0 auto ;
  cursor: pointer; 
}

.btn-primary:focus,
.btn-primary:hover {
  background: #ffc400;
}

/* ===============
    GENERAL LAYOUT 
   ================ */

.main-flex {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover;
  background-position: bottom;
  text-align: center;
}

@media (min-width: 600px) {
  .main-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* NAVIGATION */


.open-nav { 
  border: 0 ; 
  background: black ; 
  font-size: 25px ; 
  margin-left: 3rem ; 
}

.current {
  border-bottom: 1px solid #ffe600;
}

.header {
  background: #000;
}

.header-home {
  background: transparent;
  position: absolute;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
}

.logo-link {
  background-color: #ffe600;
  padding-top: 2.2em;
}

.nav {
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
}

.navigation-open {
  transform: translateX(-100%);
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffe600;
}

.close-nav {
  border: 0;
  background: 0;
  color: #ffe600;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
}

/* NAVIGATION MEDIA QUERIES */

@media (min-width: 600px) {
  .open-nav,
  .close-nav {
    display: none;
  }

  .nav {
    position: initial;
  }

  .nav-list {
    flex-direction: row;
    justify-content: flex-start;
  }

  .nav-item {
    margin-left: 2em;
  }

  .nav-link {
    font-size: 1rem;
  }

  .header-home .nav {
    background: transparent;
  }
}




.footer-logo,
.footer-text,
.footer-fineprint { 
  opacity: 0.3 ; 
} 

.footer-fineprint { 
  font-size: 0.75rem ; 
  margin-top: 4em ; 
}

.footer-main {
  text-align: center;
  padding: 2em 0;
  color: #000 ; 
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0 2em;
  display: flex;
  justify-content: center;
}

.social-link {
  color: #000;
  font-size: 1.5rem;
  margin: 0 1em;
}

.social-link:hover {
  color: #777;
}

@media (min-width: 600px) {
  .footer-main {
    background: #ebebeb;
    padding: 4em 0;
    text-align: center;
  }

  .social-list {
    justify-content: center;
  }
}

@media (min-width: 400px) {
  .footer-main {
    background: #ebebeb;
    padding: 4em 0;
    text-align: center;
  }
}

/* ==============
      HERO AREA 
   ==============*/
.hero {
  background-image: url(/static/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 8em 0 4em;
  color: #fff;
}

.hero > * {
  margin-right: 10%;
}

@media (min-width: 400px) {
  .hero > * {
    margin-right: 20%;
  }
}

@media (min-width: 600px) {
  .hero {
    padding: 10em 0 6em;
  }

  .hero > * {
    flex-wrap: wrap;
  }
}

/* INFO SECTION  */

.info {
  padding: 4em 0;
  text-align: center;
  width: 100%;
  flex-direction: row;
  display: flex;
}

@media (min-width: 400px) {
  .info {
    padding: 6em 2em;
    text-align: center;
    width: 100%;
    flex-direction: column;
    display: flex;
  }
}

@media (min-width: 500px) {
  .info {
    padding: 6em 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
    display: flex;
  }
}

@media (min-width: 600px) {
  .info {
    padding: 4em 0;
    text-align: center;
    width: 100%;
    flex-direction: row;
    display: flex;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 15px;
  width: 50%;
  color: #000;
}

/* @media (min-width: 600px) { 
  .col { 
} */

/* ================
    BUTTONS 
   ================ */

.btn {
  padding: 0.5em 1.55em;
  font-weight: 700;
  margin-top: 0.5em;
  text-decoration: none;
  border: 0;
  cursor: pointer;  
  width: 25%  ;  
  margin-left: 50px ; 
}
.btn-primary {
  background: #ffe600;
  color: #000;
  justify-self: start;
}


.btn-primary:focus,
.btn-primary:hover {
  background: #ffc400;
} 



/* about page */

.main-template > * { 
  padding: 1em 0  ; 

}

/* ==================
      FORM 

   ==================*/

.contact-form { 
  display: flex ;  
  flex-direction: column; 
  padding: 0 2em ;   
  color: #000 ; 
  width: 100% ;  

}

label { 
  font-weight: 700; 
  padding: 0 2em ;  
}

input,
textarea { 
  margin-bottom: 0.8em ; 
  padding: 0.4em  ;  
  font-family: inherit;
}

textarea { 
  resize: none ; 
  margin: 0  ; 
  height: 100px ; 
}



.main-image { 
  background-size: cover ; 
  background-position: center; 
  width: 500px  ;  
}

/* 
.main-text { 
  margin: 0 auto ;  
  padding: 0 2em  ;  
} */



@media (min-width: 600px ) { 
  .main-image { 
    flex-direction: row; 
  }

  .main-text { 
    flex-wrap: wrap ;  
    align-items: flex-end;
  }

} 

.main-image { 
  margin-bottom: 1.5em  ;  

}

.section-title {
  font-size: 1.125rem;
  color: #000;
  margin-top: 1.25em;
}



.page-title,
.subtitle { 
  color: #000 ; 
  text-align: center;
}

.page-title { 
  font-size: 2rem ; 
  margin: 0 auto ; 
  margin-bottom: 0 ; 
  padding: 0 ; 
  justify-self: center;
}

.page-title::after { 
  content: "" ; 
  display: block ; 
  margin-top: -10px;   
  margin-left: 15px ; 
  height: 35px ; 
  margin-bottom: 0.5em ;  
  background-color: #ffe600 ; 
}






.accent-color { 
  color: #ffe600
}