* { 
    font-family: 'Lato', sans-serif;
}

body { 
    margin: 0 ; 
    font-size: 18px ; 
}


.header1 { 
    text-align: left;
    background-color: #2E354F;
    color: white ;  
    width: 100% ; 
    padding-bottom: 60px ; 
    font-size: 36px ; 
    font-weight: 700 ; 
    padding-top: 50px ;

}


.sec1h2 { 
    color: #EF5839 ;
    padding-left: 25px ; 
}

.container { 
    width: 620px ; 
    height: auto ; 
}

.section1 { 
    background-color: white ;  
    width: 100% ;
    margin-top: 30px ; 
    padding-bottom: 50px ; 

}

.p1 { 
padding-left: 100px;
    
}

.section2 { 
    padding-top: 20px ; 
    color: white ; 
    background-color: #2E354F; 
    width: 342% ; 
    padding-bottom: 100px ; 
    margin-left: 5px ; 

}

.img-sec1 { 
    display:block ; 
    margin-left: auto ; 
    margin-right: auto ; 
    object-fit: cover;
    height: 400px ; 
    width: 2100px ; 
    margin-left: 10px ; 
}

.section-2-link { 
    color: #EF5839 ; 
}

h2 { 
    font-size: 24px ; 
}

.btn-orange { 
    display: inline-block ; 
    color: white ; 
    background-color: #EF5839 ; 
    padding: 15px 35px; 
    text-decoration: none; 
    font-weight: 800;
    margin-right: 10px ; 

}

.btn-white { 
    display: inline-block ; 
    color: black ; 
    background-color: #fff; 
    padding: 15px 40px ;
    text-decoration: none; 
    font-weight: 800;

}


.btn-white:hover { 
     cursor: pointer;
     background-color: blue;

}

.btn-orange:hover { 
    cursor: pointer;
    background-color: blue;

}