html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}


/* grid-template-columns: 200px 200px 350px ;  */


/* grid-template-columns: 300px 100px 100px; */


/* grid-template-rows: 750px 300px 300px; */


/* grid-template: 100px 100px 500px / 300px 300px 600px; */


/* rows first then columns  */